.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 65px;
  background-color: rgb(240, 240, 240);
  padding-top: 25px;
  padding-bottom: 18px;
  justify-content: center;
  z-index: 200;
}

.upper-sidebar {
  flex-shrink: 0;
}

.account-profile {
  margin-left: 5px;
}

.sidebar-icons-container,
.media-icons-container {
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 7px;
  flex-shrink: 0;
  position: relative;
}

.sidebar-icons-container:hover,
.media-icons-container:hover {
  background-color: rgb(221, 221, 221);
}

.sidebar-community-icon {
  position: relative;
  margin-left: 2.5px;
  width: 34px;
  transform: translateX(-100px);
  filter: drop-shadow(100px 0 0 rgb(78, 78, 78));
}

.sidebar-chat-icon {
  width: 26px;
  margin-left: 7px;
}

.sidebar-icon {
  width: 26px;
  margin-left: 7px;
  transform: translateX(-100px);
  filter: drop-shadow(100px 0 0 rgb(78, 78, 78));
}

.green-bullets {
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background-color: rgb(29, 170, 97);
  position: absolute;
  right: 1px;
  top: -0.5px;
}

.notifications {
  border-style: solid;
  border-color: rgb(240, 240, 240);
  font-size: 13px;
  font-weight: 500;
  background-color: rgb(29, 170, 97);
  color: white;
  height: 18px;
  width: 18px;
  border-radius: 15px;
  padding-right: 2px;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 0px;
  position: absolute;
  right: -10px;
  top: -10px;

}

.sidebar-media-icon {
  width: 26px;
  margin-left: 6px;
  transform: translateX(-100px);
  filter: drop-shadow(100px 0 0 rgb(78, 78, 78));
}

.media-icons-container {
  margin-top: 270px;
  position: relative;
  margin-bottom: 20px;
}

.account-profile {
  width: 28px;
  border-radius: 15px;
}

.tooltip {
  color: white;
  background-color: black;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  z-index: 50;
  position: absolute;
  left: 47px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;

}

.sidebar-icons-container:hover .tooltip,
.media-icons-container:hover .tooltip,
.profile-container:hover .profile-tooltip {
  opacity: 1;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-right: 4px;

}

.profile-tooltip {
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  background-color: black;
  color: white;
  top: 3px;
  left: 43px;
  padding: 4px 6px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}


.sidebar2 {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 600px;
  background-color: rgb(240, 240, 240);
  justify-content: center;
  align-items: center;
  flex-shrink: 100;
}

.send-document-container,
.add-contacts-container {
  background-color: rgb(221, 221, 221);
  width: 96px;
  height: 92px;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  overflow: hidden;
  transition: background-color 0.15s;

}

.send-document-container:hover,
.add-contacts-container:hover {
  background-color: white;
}

.send-document-icon,
.add-contacts-icon {
  width: 25px;
  height: 25px;
  transform: translateX(-100px);
  filter: drop-shadow(100px 0 0 rgb(78, 78, 78));
}

.info {
  font-size: 14px;
  color: rgb(99, 97, 97);
  margin-top: 13px;
  margin-left: 19px;
}